.no-border {
    border: none !important;
}
.Postion{
    position: relative;
}
.showbutton{
    position: absolute;
    bottom: 0;
}

.favourit{
    position: absolute;
    top: 10px;
    right:10px;
    border: none;
    border-radius: 50%;
}
.iconwishfavourit{
    color: #DB4444;
    border-radius: 50%;
}
.iconwish{
    color: black;
    border-radius: 50%;
   
   
}
.icondetails{
color: black;
background-color: white;
border-radius: 50%;
position: absolute;
top: 40px;
right:10px;
padding: 3px;

}