@tailwind base;
@tailwind components;
@tailwind utilities;
body{
  overflow-x: hidden;
}
.containe{
  width: 95%;
  margin: auto;
}
.scrollbar::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

.scrollbar::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.scrollbar::-webkit-scrollbar-thumb {
  background: #a6a6a8;
}
a {
  text-decoration: none !important;
}
